# Series Class

In [111]:
import pandas as pd
import numpy as np
s1 = pd.Series([111, 222, 333, 444, 555], index = ["seoul", "busan", "incheon", 'daegu', "US"])

s1.name = "인구"
s1.index.name = "도시"

print(s1)

# 라벨로 접근 가능
print("대구 인구 = ", s1.daegu)

s2 = pd.Series(range(10, 140, 30))
print(s2)

도시
seoul      111
busan      222
incheon    333
daegu      444
US         555
Name: 인구, dtype: int64
대구 인구 =  444
0     10
1     40
2     70
3    100
4    130
dtype: int64

시리즈연산

In [112]:
s1 = pd.Series(range(3))
s2 = pd.Series(range(3, 6))
print(s1 + s2)
print(s1 @ s2)

0    3
1    5
2    7
dtype: int64
14

인덱싱

In [113]:
s1 = pd.Series([9904312, 3448737, 2890451, 2466052],
               index = ["서울", '부산', '인천', '대구'])
print(s1[3], s1["대구"])
print()
print(s1[[0, 3]] == s1[["서울", "대구"]])
print(s1[[0, 3]])
print(s1[["서울", "대구"]])
print()

print(s1[(250e4 <= s1) & (s1 <= 500e4)])
#print(250e4 <= s1 <= 500e4)
# The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
print(s1 <= 500e4)

2466052 2466052

서울    True
대구    True
dtype: bool
서울    9904312
대구    2466052
dtype: int64
서울    9904312
대구    2466052
dtype: int64

부산    3448737
인천    2890451
dtype: int64
서울    False
부산     True
인천     True
대구     True
dtype: bool

슬라이싱
* [정수1 : 정수2] : 정수1 ~ 정수2 - 1
* [라벨1, 라벨2] : 라벨1 ~ 라벨2포함

In [114]:
print(s1[1 : 3])
print(s1["서울" : "대구"])
print("대구" in s1)
print("강원" in s1)

부산    3448737
인천    2890451
dtype: int64
서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64
True
False

추가 실습
성적이 80점 이상만 출력

In [115]:
test1 = pd.Series(["홍길동", "최길동", "박길동", "김길동", "이길동"],
                  index = [60, 90, 95, 70, 80])
print(test1[test1.index >= 80])


test2 = pd.Series([f"{i}길동" for i in range(21)],
                  index = [i for i in range(0, 105, 5)])
print(test2[(25 <= test2.index) & (test2.index <= 75)])

90    최길동
95    박길동
80    이길동
dtype: object
25     5길동
30     6길동
35     7길동
40     8길동
45     9길동
50    10길동
55    11길동
60    12길동
65    13길동
70    14길동
75    15길동
dtype: object

시리즈와 딕셔너라 자료

In [116]:
s = pd.Series({"seoul" : 9631482, "busan" : 3393191, "incheon" : 2632035, "Daejeon" : 1490158},
              index = ["서울", "부산", "인천", "대전"])

for k, v in s.items():
  print(f"{k} = {v}")

서울 = nan
부산 = nan
인천 = nan
대전 = nan

# 데이터프레임

2차원 데이터를 표의 형태로 처리하는 자료구조

In [117]:
data = {
    "2015" : np.random.randint(2222222, 9999999, size = 4),
    "2010" : np.random.randint(2222222, 9999999, size = 4),
    "2005" : np.random.randint(2222222, 9999999, size = 4),
    "2000" : np.random.randint(2222222, 9999999, size = 4),
    "지역" : ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율" : np.random.rand(4),
}
index = ["서울", "부산", "인천", "대구"]
columns = sorted(list(data.keys()), key = lambda x : x[0], reverse = True)


df = pd.DataFrame(data, index = index, columns = columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  6177257  8765447  4774050  6221440       0.503818
부산  경상권  2756972  5685666  9920566  9485101       0.888595
인천  수도권  8606987  9987300  7347448  7640712       0.829463
대구  경상권  5769047  3475134  2596755  7882765       0.012406

데이터 프레임 속성
* df.values -> 값을 넘파이 2차원 배열로 반환
* df.columns -> 열 인덱스 객체 : 열 이름 리스트를 Index 객체로 반환
* df.index -> 행 인덱스 객체 : 행 이름 리스트를 Index 객체로 반환
  * index.name, columns.name -> 각 방향의 이름 (객체 인스턴스, 변경 가능)

In [120]:
print(df.values)
print(df.columns)
print(df.index)
#df.index.name = "도시"
#df.columns.name = "특성"
print("행, 열 이름 부여")
print(df)

print("\n데이터 프레임 전치 행열")
print(df.T)

[['수도권' 6177257 8765447 4774050 6221440 0.5038175865888277]
 ['경상권' 2756972 5685666 9920566 9485101 0.8885947854835655]
 ['수도권' 8606987 9987300 7347448 7640712 0.8294634226979404]
 ['경상권' 5769047 3475134 2596755 7882765 0.012406404601379761]]
Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')
Index(['서울', '부산', '인천', '대구'], dtype='object')
행, 열 이름 부여
     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  6177257  8765447  4774050  6221440       0.503818
부산  경상권  2756972  5685666  9920566  9485101       0.888595
인천  수도권  8606987  9987300  7347448  7640712       0.829463
대구  경상권  5769047  3475134  2596755  7882765       0.012406

데이터 프레임 전치 행열
                     서울        부산        인천        대구
지역                  수도권       경상권       수도권       경상권
2015            6177257   2756972   8606987   5769047
2010            8765447   5685666   9987300   3475134
2005            4774050   9920566   7347448   2596755
2000            6221440   9485101   7640712   7882765
2010-2015 증가율  0.503818  0.888595  0.829463  0.012406

# 열 추출
 * [] <- 열 이름만 올 수 있음 : Series 객체 반환
 * [ [이름1, 이름2] ] 와 같이 부분적으로 추출 가능 : DataFrame 반환
 * 열 인덱스가 문자열 라벨인 경우 열 번호(정수) 인덱싱 불가능

In [128]:
print(type(df['2015']))
print(df['2015'])
print()
print(type(df[['2005', '2015', '지역']]))
print(df[['2005', '2015', '지역']])

<class 'pandas.core.series.Series'>
서울    6177257
부산    2756972
인천    8606987
대구    5769047
Name: 2015, dtype: int64

<class 'pandas.core.frame.DataFrame'>
       2005     2015   지역
서울  4774050  6177257  수도권
부산  9920566  2756972  경상권
인천  7347448  8606987  수도권
대구  2596755  5769047  경상권

# 행 추출
 * 슬라이싱으로 행 추출 가능
 * df[s : e] -> s번에서 e - 1번까지
 * cv[시작 행 라벨 : 끝 행 라벨] -> 시작 행부터 끝 행 포함

In [143]:
# 데이터 추출
#* df[열 이름][행 이름]
#* 열 우선임

print(df)
print()
print("df[1 : 3]")
print(df[1 : 3])
print()
print("df[ 인천 : 대구]")
print(df[ '인천' : '대구' ])
print()
print("df[2000]['서울']")
print(df['2000']['서울'])
try:
  print(df['서울']['2000'])
except:
  print()
  print("df['서울']['2000'] x")
  print("열부터 써야됩니다.")

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  6177257  8765447  4774050  6221440       0.503818
부산  경상권  2756972  5685666  9920566  9485101       0.888595
인천  수도권  8606987  9987300  7347448  7640712       0.829463
대구  경상권  5769047  3475134  2596755  7882765       0.012406

df[1 : 3]
     지역     2015     2010     2005     2000  2010-2015 증가율
부산  경상권  2756972  5685666  9920566  9485101       0.888595
인천  수도권  8606987  9987300  7347448  7640712       0.829463

df[ 인천 : 대구]
     지역     2015     2010     2005     2000  2010-2015 증가율
인천  수도권  8606987  9987300  7347448  7640712       0.829463
대구  경상권  5769047  3475134  2596755  7882765       0.012406

df[2000]['서울']
6221440

df['서울']['2000'] x
열부터 써야됩니다.

# 행을 우선으로 추출하고 싶다면 loc 인덱서

In [161]:
df1 = pd.DataFrame(np.arange(10, 22+4).reshape(4, 4),
                   index = [chr(i) for i in range(65, 69)],
                   columns = [chr(i) for i in range(65, 69)])
print(df1)

print()
print("행 우선으로 추출 : 열을 출력하는 것처럼 보여 조금 불편")
print(type(df1.loc['A']))
print(df1.loc['A'])
print()
print("열 우선으로 추출")
print(type(df1['A']))
print(df1['A'])

    A   B   C   D
A  10  11  12  13
B  14  15  16  17
C  18  19  20  21
D  22  23  24  25

행 우선으로 추출 : 열을 출력하는 것처럼 보여 조금 불편
<class 'pandas.core.series.Series'>
A    10
B    11
C    12
D    13
Name: A, dtype: int64

열 우선으로 추출
<class 'pandas.core.series.Series'>
A    10
B    14
C    18
D    22
Name: A, dtype: int64